<!DOCTYPE html>
<head>
  <title>Client - Browser Automate</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body style="min-height: 100vh; display: flex; justify-content: center; align-items: center; text-align: center;">
  <div class="container" id="app">
    <div class="display-1 text-info">Browser Automate</div>
    <div class="display-3">Client</div>
    <div v-if="!subscribed">
        <img class="img-fluid" style="width: 250px;"  src="https://cdn.dribbble.com/users/361933/screenshots/2047404/connect.gif" alt="">
        <div class="text-warning h4">Connecting...</div>
    </div>
    <div v-if="subscribed">
        <div class="text-success font-weight-bold text-center">
            <div style="width: 100px; height: 100px; text-align: center; margin: auto;" ><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg></div>
              <div class="h4">Connected</div></div>
              <div class="h6 text-dark">Waiting for action from Server</div></div>
    </div>
  </div>

  <script src="https://js.pusher.com/7.2/pusher.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    var pusher = new Pusher('5e22c5dd0e9bbdc5b3ce', {
      cluster: 'ap2'
    });

    var channel = pusher.subscribe('browser-automate');
    channel.bind('redirect-to-url', function(data) {
        window.location.href = data.message.appurl;
        //app.messages.push(JSON.stringify(data));
    });
    channel.bind('pusher:subscription_succeeded', function(data) {
        app.subscribed = true;
    });

    // Vue application
    const app = new Vue({
      el: '#app',
      data: {
        messages: [],
        appurl: '',
        subscribed: false
      },

    });
  </script>
</body>